/* box-start */
.box {
    margin: 200px auto;
    width: 200px;
    height: 200px;
    background-color: yellow;
    box-shadow: 10px 15px red;
    transition-property: all;
    transition-duration: 2s;
}

.box:hover {
    transform: scale(2);
    box-shadow: 10px 15px 15px red;
}

/* box-end */


/* circle-start */
.circle {
    margin: 200px auto;
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-radius: 50%;
    animation-name: vanish;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes vanish {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* circle-end */


/* p-start */
p {
    font-size: 20px;
    text-align: center;
    animation-name: textsize;
    animation-duration: 10s;
}

@keyframes textsize {

    0% {
        font-size: 20px;
    }

    100% {
        font-size: 10px;
    }
}

/* p-end */


/* header-start */
header {
    max-width: 1440px;
    width: 100%;
    margin: 200px auto;
    padding: 30px 250px;
    box-shadow: inset 15px 15px 15px black;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    transition-property: all;
    transition-duration: 2s;
}

li:hover {
    background-color: blue;
}

/* header-end */


/* img-start */
.img_div {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

img {
    width: 800px;
    height: 800px;
    object-fit: cover;
    border-radius: 50%;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes rotate {

    100% {
        transform: rotate(360deg);
    }
}
/* img-end */